{% extends 'index.html'%}
{%block content%}
{%load static%}
<!-- Our Team section -->

<section class="project_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2>
          Our Team
        </h2>
      </div>
        <div class="owl-carousel project_carousel">
          <div class="item painting">
            <div class="box">
              <div class="img-box">
                <img src="{% static 'images/member 1.jpg'%}" alt="" />
                <a href="" class="pin_link">
                  <i class="fa fa-link" aria-hidden="true"></i>
                </a>
              </div>
              <div class="detail-box">
                <h5>
                  Prof. Vincent Ado Tenebe
                </h5>
                <p>
                  
                </p>Professor of Agronomy, Faculty of Agriculture, National Open Universiy of Nigeria (NOUN).<br>
                CHAIRMAN 
              </div>
            </div>
          </div>
          <div class="item reconstruction">
            <div class="box">
              <div class="img-box">
                <img src="{% static 'images/member 2.jpg'%}" alt="" />
                <a href="" class="pin_link">
                  <i class="fa fa-link" aria-hidden="true"></i>
                </a>
              </div>
              <div class="detail-box">
                <h5>
                  Alhaji Olalekan Saliu
                </h5>
                <p>
                  Executive Secretary , Flour Milling Association of Nigeria (FMAN)<br>
                  MEMBER
                </p>
              </div>
            </div>
          </div>
          <div class="item repair">
            <div class="box">
              <div class="img-box">
                <img src="{% static 'images/member 3.jpg'%}" alt="" />
                <a href="" class="pin_link">
                  <i class="fa fa-link" aria-hidden="true"></i>
                </a>
              </div>
              <div class="detail-box">
                <h5>
                  Prof Johnson Ehima Onyibe 
                </h5>
                <p>
                  Professor, Extension Agronomy, Policy and Agribusiness Specialist<br>
                  MEMBER
                </p>
              </div>
            </div>
          </div>
          <div class="item residential">
            <div class="box">
              <div class="img-box">
                <img src="{% static 'images/member 4.jpg'%}" alt="" />
                <a href="" class="pin_link">
                  <i class="fa fa-link" aria-hidden="true"></i>
                </a>
              </div>
              <div class="detail-box">
                <h5>
                  Dr. Solomon Assefa Gizaw
                </h5>
                <p>
                  Head, Technologies for African Agricultural Transformation (TAAT) <br>
                  MEMBER
                </p>
              </div>
            </div>
          </div>
          <div class="item styling">
            <div class="box">
              <div class="img-box">
                <img src="{% static 'images/member 5.jpg'%}" alt="" />
                <a href="" class="pin_link">
                  <i class="fa fa-link" aria-hidden="true"></i>
                </a>
              </div>
              <div class="detail-box">
                <h5>
                  Honorable Munir Babba Danagundi
                </h5>
                <p>
                  Legislature,/Wheat Agribusiness<br>
                  MEMBER
                </p>
              </div>
            </div>
          </div>
          <div class="item styling">
            <div class="box">
              <div class="img-box">
                <img src="{% static 'images/member 6.jpg'%}" alt="" />
                <a href="" class="pin_link">
                  <i class="fa fa-link" aria-hidden="true"></i>
                </a>
              </div>
              <div class="detail-box">
                <h5>
                  Dr. Sc. Amadou Tidiane Sall
                </h5>
                <p>
                  Senior Research Scientist (Wheat Breeding), Senegalese Institute of Agricultural Research (ISRA)<br>
                  MEMBER
                </p>
              </div>
            </div>
          </div>
          <div class="item styling">
            <div class="box">
              <div class="img-box">
                <img src="{% static 'images/member 7.jpg'%}" alt="" />
                <a href="" class="pin_link">
                  <i class="fa fa-link" aria-hidden="true"></i>
                </a>
              </div>
              <div class="detail-box">
                <h5>
                  Mr. Alain Sy Traore
                </h5>
                <p>
                  Agronomist, Director, Agricultural and Rural Development, Economics Community of West African Students (ECOWAS)<br>
                  MEMBER
                </p>
              </div>
            </div>
          </div>
          <div class="item styling">
            <div class="box">
              <div class="img-box">
                <img src="{% static 'images/member 8.jpg'%}" alt="" />
                <a href="" class="pin_link">
                  <i class="fa fa-link" aria-hidden="true"></i>
                </a>
              </div>
              <div class="detail-box">
                <h5>
                  Prof. Christopher Tankou
                </h5>
                <p>
                  Professor of Systems Agronomy, Department of crop science, University of DSCHANG<br>
                  MEMBER
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <br>
  <br>
  <br>
  <br>
  <br>

  <!-- end project section -->

{%endblock%}