{%extends 'index.html'%}
{%block content%}
{%load static%}
  <!-- service section -->

  <section class="service_section layout_padding">
    <div class="service_container">
      <div class="container ">
        <div class="heading_container">
          <h2>
            Services
          </h2>
          <p>
            The West and Central Africa Wheat Collaborative Network offers a range of comprehensive services aimed at advancing wheat productivity, production, and farmers' income using appropriate technologies, as well as fostering wheat investment across the region
          </p>
        </div>
        <div class="row">
          <div class="col-md-6 col-lg-3">
            <div class="box ">
              <div class="img-box">
                <img src="{% static 'images/s1.png' %}" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Technology Adoption
                  and Transfer
                </h5>
                <p>
                  Facilitating the adoption and transfer of appropriate agricultural technologies to farmers, enabling
                  them to leverage modern methods for enhanced wheat cultivation, harvesting, and post-harvest handling.
                </p>
                <a href="">
                  Read More
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="box ">
              <div class="img-box">
                <img src="{% static 'images/s2.png' %}" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Training and 
                  Capacity Building
                </h5>
                <p>
                  Organizing workshops, training sessions, and educational programs to build the capacity of farmers 
                  and stakeholders. This includes training in modern farming techniques, sustainable practices, and 
                  the effective use of technology
                  </p>
                <a href="">
                  Read More
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="box ">
              <div class="img-box">
                <img src="{% static 'images/s3.png' %}" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Research and 
                  Development
                </h5>
                <p>
                  Conducting research and development initiatives to improve wheat varieties, pest and disease 
                  management, soil health, and climate-resilient agricultural practices.
                  </p>
                <a href="">
                  Read More
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="box ">
              <div class="img-box">
                <img src="{% static 'images/s4.png' %}" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Policy Advocacy
                  and Support
                </h5>
                <p>
                  Engaging with policymakers and advocating for policies that support the wheat industry's growth and
                  sustainability. This includes providing policy recommendations based on research and the collective 
                  expertise of stakeholders.
                  </p>
                <a href="">
                  Read More
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end service section -->


{%endblock%}